<?xml version='1.0' encoding='utf-8'?>
<widget id="com.comin2.aperooo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aperooo</name>
    <description>C'est l'heure !</description>
    <author email="contact@viki53.eu" href="http://viki53.eu">viki53</author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="res/icon.png" />
</widget>